//Base
@mixin sp {
  @media screen and (max-width: 768px) {
    @content;
  }
}
// .box {
//   @include for_sp {
//     background-color: blue;
//   };
// }

$white: #fff;
$l-grey: #eee;
$d-grey: #aaa;
$black: #333;
$main: #39f;

$border-radius: 4px;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-size: 62.5%;
}

body {
  color: $black;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ",
    sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.05em;
}

main {
  padding: 50px 0;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    color: inherit;
    opacity: 0.5;
    text-decoration: none;
  }
}

p {
  text-align: justify;
  line-height: 1.7;
}

ul {
  margin-bottom: 0;
  list-style: none;
  li {
    line-height: 1.7;
  }
}

img {
  max-width: 100%;
}

.container {
  max-width: 980px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.form {
  line-height: 1.5;
  &__group {
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
  }
  &__name {
    font-size: inherit;
    display: block;
  }
  &__txt {
    border: 1px solid #ced4da;
    border-radius: $border-radius;
    color: #495057;
    display: block;
    height: 38px;
    height: calc(1.5em + 1.2rem + 2px);
    padding: 6px 12px;
    padding: 0.6rem 1.2rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 100%;
    &:focus {
      outline: 0;
      border-color: #80bdff;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
  }
  &__check {
    position: relative;
    padding-left: 20px;
    padding-left: 2rem;
    &--input {
      position: absolute;
      margin-left: -20px;
      margin-left: -2rem;
      margin-top: 0.6rem;
    }
    &--label {
      margin-bottom: 0;
    }
  }
  &__radio {
    display: none;
    &:checked + label:after {
      content: "";
      display: block;
      position: absolute;
      top: 6px;
      left: 5px;
      width: 12px;
      height: 12px;
      background: $main;
      border-radius: 50%;
    }
    & + label {
      display: inline-block;
      padding-left: 25px;
      position: relative;
      margin-right: 15px;
      &:before {
        content: "";
        display: block;
        position: absolute;
        top: 2px;
        left: 1px;
        width: 20px;
        height: 20px;
        border: 1px solid #999;
        border-radius: 50%;
      }
    }
  }
  &__file {
    input[type="file"] {
      display: none;
    }
    label {
      background: $main;
      color: $white;
      font-size: 0.8rem;
      padding: 6px 12px;
      border-radius: $border-radius;
      display: inline-block;
      position: relative;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
        transition: 0.3s ease-out;
      }
      &:after {
        content: "選択されていません";
        color: $black;
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        position: absolute;
        right: -140px;
        top: calc(50% - 10px);
      }
      &.changed:after {
        content: "";
      }
    }
    .filename {
      font-size: 12px;
    }
  }
}

input[type="date"].form__txt {
  width: 200px;
}

textarea.form__txt {
  height: 100px;
}

.btn {
  border: none;
  display: inline-block;
  background: $main;
  color: $white;
  font-size: 1.4rem;
  line-height: 1;
  text-decoration: none;
  letter-spacing: 0.05em;
  padding: 1rem 1.5rem;
  border-radius: $border-radius;
  cursor: pointer;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-out;
  -webkit-tap-highlight-color: transparent;
  &:hover {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
  }
  &:focus {
    outline: none;
  }
}

.outlineBtn {
  display: inline-block;
  text-align: center;
  background: transparent;
  border: solid 1px #6c757d;
  border-radius: $border-radius;
  color: #6c757d;
  font-size: 14px;
  padding: 6px 12px;
  padding: 0.6rem 1.2rem;
  -webkit-tap-highlight-color: transparent;
  transition: 0.3s ease-out;
  &:hover {
    opacity: 0.7;
  }
}
